:root{
    --clr-primary-dark: hsl(300,43%,22%);
    --clr-primary-soft: hsl(333,80%,67%);
    --clr-neutral-dark: hsl(303,10%,53%);
    --clr-neutral-light: hsl(300,24%,96%);
    --clr-neutral-white: hsl(0,0%,100%);
    --ff-primary:"Spartan", sans-serif;
    --fs-small: 0.8125rem;
    --fs-medium: 0.9625rem;
    --fs-big: 2rem;
    --br: .5rem;
   
}

body{
    font-family: var(--ff-primary);
    font-size: var(--fs-small);
    padding-top: 4rem;
    text-align: center;
    background-image: 
    url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
    background-position: top left,bottom right;
    background-size: 50%,60%;
    background-repeat: no-repeat;
}

main{
    display:grid;
    gap: 3rem;    
}

h1{
    font-size: var(--fs-big);
    line-height: 1;
    max-width: 15ch;
    margin-bottom: 0.25em;
    font-weight: 800;
}

.container{
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2em;  
}

.flow-content > * + *{
margin-top: 1rem;
}

.intro{
    font-size: var(--fs-medium);
}

ul{
    list-style: none;  
}


.ratings li{
    
    background: var(--clr-neutral-light);
    font-weight: 800;
    color: var(--clr-primary-dark);
    padding : 0.75rem 2rem;
    max-width:25rem;
     margin-left: auto;
     margin-right: auto;

}
.stars{
    display: flex;
    justify-content: center;
}
.stars img{
    width: 1.7rem;
    margin: 0 0.5rem 1rem;
}

.quotes{
    --spacer:2rem;
}
  blockquote{
     background: var(--clr-primary-dark) ;
     color: var(--clr-neutral-light);
     text-align: left;
     border-radius: var(--br);
     padding: var(--spacer);
     max-width:25rem;
     margin:0 auto;    
  }

  .split{
      display: flex;
      flex-direction: column;
      gap: 1em; 
  }
  .split-row {
      display:flex;
      align-items: center;
  }
  

  img{
      border-radius: 50%;
      margin-right: var(--spacer);
      width:3rem;
  }

  .quote{
      margin-top: var(--spacer);
  }

  .buyer{
      color: var(--clr-primary-soft);
  }

  .user{
      font-weight: 800;
  }
  .attribution{
      margin: 1rem 0 ;
  }

/* media query */
@media  (min-width: 50em){
    :root{
        --fs-big:3rem;    
    }
    main{
        display:grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .wrapper{
        grid-column: 1/2;
    }
    
    .ratings{
        grid-column: 2/3;
    }
    .quotes{
        grid-column: 1/-1;
    }
    .stars img{
        margin: -.25rem .5rem  0 0;
    }
    .ratings li{
        display:flex;
        align-items: center;
    }
    
    .ratings li:first-of-type{
transform: translateX(-3rem);
    }
    .ratings li:last-of-type{
        transform: translateX(3rem);
    }
    .quotes li:nth-child(2){
        transform: translateY(3rem);
    }
    .quotes li:nth-child(3){
        transform: translateY(6rem);
    }
    .split{
        flex-direction: row;
    }
  
body{display:flex;
    flex-direction:column;
    gap:7em;
    padding-top: 6rem;
    background-image: 
    url(images/bg-pattern-top-desktop.svg),
    url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    background-size: 50%,50%;
}
} 

@media (max-width:50em){
    h1{
        margin-left:  auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
}

